<p id="notice"><%= notice %></p>
<div class="container">
  <h1>Usuarios</h1>
  

  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Categoría</th>
        <th>Rol</th>
        <th>Datos</th>
        <th>Imagen</th>
        <th>Email</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @usuarios.each do |usuario| %>
        <tr>
          <td><%= usuario.nombre %></td>
          <td><%= usuario.apellidos %></td>
          <td><%= usuario.categoria %></td>
          <td><%= usuario.rol %></td>
          <td><%= usuario.datos %></td>
          <td><%= image_tag(usuario.image) if usuario.image.attached? %></td>
          <td><%= usuario.email %></td>
          <td><%= link_to 'Ver', usuario %></td>
          <td><%= link_to 'Editar', edit_usuario_path(usuario) %></td>
          <td><%= link_to 'Eliminar', usuario, method: :delete, data: { confirm: '¿Estás seguro?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <a class="btn btn-primary" href="/usuarios/new" role="button">Nuevo usuario</a>
  <a class="btn btn-success" href="/" role="button">Página principal</a>
</div>

