<!DOCTYPE html>
<html>
  <head>
    <title>CanarySport</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
  <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/" style="color:white">CanarySport</a>
        </div>
        <ul class="nav navbar-nav">
          <li class=<%= @inicio%>><a href="/" style="color:white">Inicio</a></li>
          <li class=<%= @tienda_ropa%>><a href="/tienda_ropa" style="color:white"> Nuestra ropa</a></li>
          <li class=<%= @tutorial%>><a href="/tienda_articulo" style="color:white">Material deportivo</a></li>
          <li class=<%= @tienda_articulo%>><a href="/contacto" style="color:white">Contacto</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
        <% if session[:usuario_id] != nil %>
          <% if rol == "admin" %>
            <li class="noactive dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color:white">Gestionar
              <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/usuarios">Gestionar usuarios</a></li>
                <li><a href="/clases">Gestionar clases</a></li>
                <li><a href="/productos">Gestionar productos</a></li>
                <li><a href="/tutoriales">Gestionar tutoriales</a></li>
              </ul>
            </li>
          <% end %>
          <% if rol == "alumno" || rol == "profesor" %>
            <li class=<%= @asignadas%>><a href="/clases_asignadas" style="color:white">Clases asignadas</a></li>
          <% end %>
          <li class="noactive"><a href='/logout' style="color:white">Cerrar sesión</a></li>
        <% else %>
          <li class=<%= @login%>><a href='/login' style="color:white">Iniciar sesión</a></li>
        <% end %>
        </ul>
      </div>
    </nav>
    <%= yield %>
    <hr>
    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">© 2020 CanarySport</p>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="/contacto">Contacto</a></li>
          <li class="list-inline-item"><a href="#">Términos</a></li>
          <li class="list-inline-item"><a href="/about">Sobre nosotros</a></li>

        </ul>
    </footer>
  </body>
</html>
