<p id="notice"><%= notice %></p>

<h1>Nuestro Material</h1>

<table class="table table-striped table-hover">
  <thead class="thead-dark">
    <tr>
      <th>Nombre</th>
      <th>Precio</th>
      <th>Descripcion</th>
      <th>Imagen</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @articulos.each do |articulo| %>
      <tr>
        <td><%= articulo.nombre %></td>
        <td><%= articulo.precio %></td>
        <td><%= articulo.descripcion %></td>
        <td><% if articulo.image.attached? %>
        <img src="<%= url_for(articulo.image)  %>" class="img-rounded img-responsive" alt="Product view">
      <% end %></td>
        <td class="enlaceboton"><%= link_to 'Show', articulo %></td>
        <td class="enlaceboton"><%= link_to 'Edit', edit_articulo_path(articulo) %></td>
        <td class="enlaceboton"><%= link_to 'Destroy', articulo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<a class="enlaceboton" href="/articulos/new" role="button">Crear artículo</a>
<a class="enlaceboton" href="/panel_administracion" role="button">Página principal</a>

