<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @articulo.nombre %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @articulo.precio %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @articulo.descripcion %>
</p>

<p>
<% if @articulo.image.attached? %>
<p>
<strong>Image:</strong>
<br>
<%= image_tag @articulo.image %>
</p>
<% end %>
</p>

<%= link_to 'Edit', edit_articulo_path(@articulo) %> |
<%= link_to 'Back', articulos_path %>
